* {
    font-family: "Mulish", sans-serif !important;
    box-sizing: border-box;
    &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }
    &::-webkit-scrollbar-thumb {
        background: #e1e1e1;
        border: none;
        border-radius: 50px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
    }
    &::-webkit-scrollbar-thumb:active {
        background: #000000;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
        border: none;
    }
    &::-webkit-scrollbar-track:hover {
        background: transparent;
    }
    &::-webkit-scrollbar-track:active {
        background: transparent;
    }
    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}

ion-content {
    --padding-top: 16px;
    --padding-end: 16px;
    --padding-bottom: 16px;
    --padding-start: 16px;
}

.header-ios ion-toolbar .ios.title-default {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-inline: 48px !important;
    text-align: center !important;
}

.line-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title-page {
        width: auto;
    }
}

.title-page {
    width: 100%;
    text-align: center;
    margin: 16px 0 24px;
    font-size: 1.75em;
    font-weight: 700;
    &.left-text {
        text-align: left;
    }
    &.bigger {
        font-size: 2em;
        font-weight: 900;
    }
    &.small {
        font-size: 1.05em;
        font-weight: 500;
    }
    &.minimal-margem {
        margin: 16px 0 12px;
    }
}

.subtitle-page {
    width: 100%;
    text-align: left;
    margin: 5px 0 24px;
    font-size: 0.9em;
    font-weight: 400;
    opacity: 0.8;
    &.minimal-margem {
        margin-top: -20px;
    }
}

.link-button {
    text-decoration: underline;
    text-align: center;
}

ion-toggle {
    height: 24px;
    width: 40px;
    --handle-width: 18px;
    --handle-height: 18px;
}

.only-icon {
    height: 32px;
    width: 32px;
}

.only-avatar {
    height: 32px;
    width: 32px;
    position: relative;
    --padding-start: 0 !important;
    --padding-end: 0 !important;
    img {
        height: 32px;
        width: 32px;
        object-fit: cover;
        border-radius: 4px;
    }
}

.header-ios ion-toolbar {
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 11.5911px 10.0172px rgba(0, 0, 0, 0.035);
    &:last-of-type {
        --border-width: 0;
    }
    .ios.title-default {
        padding-left: 16px;
        text-align: left;
    }
}

.sc-ion-buttons-ios-s ion-button {
    font-size: unset;
}

// Lists
ion-list {
    .title-list {
        color: var(--ion-color-primary);
        font-size: 0.9em;
        margin: 20px 0 5px;
        opacity: 0.75em;
    }
    .title-item {
        opacity: 0.8;
        margin-bottom: 8px;
        font-size: 0.8em;
    }
}

ul.splide__pagination {
    position: relative;
    bottom: 0;
    margin: 6px auto 12px;
    gap: 6px;
    .splide__pagination__page {
        background-color: var(--ion-color-primary);
        opacity: 0.2;
        border-radius: 40px;
        width: 80px;
        height: 80px;
        transition: all 0.35s;
        zoom: 0.1;
    }
    .is-active {
        opacity: 1;
        background-color: var(--ion-color-primary);
        width: 160px;
        height: 80px;
        zoom: 0.1;
        transform: scale(1);
        opacity: 0.8;
    }
}

.spacer {
    flex-grow: 2 !important;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    &.small {
        max-width: 400px;
    }
}

// item input
.big-label {
    font-size: 0.8em;
    font-weight: 400;
    margin: 0 0;
    height: auto;
}

.custon-input {
    --background: transparent;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    margin-bottom: 16px;
    &::part(native) {
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-end;
        --padding-start: 8px;
        --padding-end: 8px;
        .item-inner {
            padding: 0 !important;
        }
    }
    &.check {
        margin: 20px 0 32px !important;
        ion-label {
            font-size: 0.8em;
            font-weight: 400;
            margin: 0 0;
            height: auto;
        }
        ion-checkbox {
            margin: 0 6px 0 0;
            padding: 0;
            --size: 22px;
            --border-radius: 6px;
            --border-width: 1.5px;
            --border-color: rgba(var(--ion-color-input-rgb), 0.2);
            --background: transparent;
            --padding-start: 0;
            --padding-start: 0;
        }
        &::part(native) {
            --min-height: none;
            --background-hover: transparent;
            height: auto;
            margin: 0;
            align-items: center;
            flex-direction: row !important;
            gap: 6px;
            &:hover {
                background-color: transparent !important;
            }
        }
    }
    ion-label {
        font-size: 0.9em;
        font-weight: 500;
        margin: 0 0 2px;
    }
}

// input
.input-container {
    border-radius: 8px;
    border: 1px solid rgba(var(--ion-color-input-rgb), 0.2);
    min-height: 38px;
    height: auto;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 6px;
    ion-input {
        overflow: hidden;
        font-weight: 700;
        --placeholder-font-weight: 400;
        --placeholder-opacity: 0.4;
        border-radius: 8px;
        box-sizing: border-box;
        --padding-top: 6px;
        --padding-bottom: 6px;
        --padding-start: 12px;
        --padding-end: 12px;
        height: 100%;
    }
    ion-checkbox {
        --background: transparent;
        margin: 8px 8px 8px 0;
    }
    ion-textarea {
        margin: 0;
        height: auto;
        padding: 8px;
        .native-textarea {
            padding: 0;
        }
    }
    .toggle-view-pass {
        height: 24px;
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        z-index: 10;
        margin-right: 6px;
        cursor: pointer;
    }
    ion-progress-bar {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
    }
}

// map
@media screen and (min-width: 780px) {
    .leaflet-control-zoom.leaflet-bar.leaflet-control {
        margin-top: 54px !important;
    }
}

// text
.text {
    &--danger {
        color: var(--ion-color-danger);
    }
}

.container-box {
    display: flex;
    align-items: center;
    gap: 8px;
}

.box {
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    opacity: 1;
    transition: all 0.35s;
    width: auto;
    overflow: hidden;
    font-size: 0.8em;
    color: var(--ion-color-primary);
    padding: 4px 8px 4px 4px;
    font-family: "Mulish", sans-serif;
    background: #b4b4b420;
    img {
        height: 20px;
    }
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--ion-color-dark);
    opacity: 0.25;
    margin: 16px 0;
}